@charset "UTF-8";

/* div要素 main-area 設定 */
div.main-area{
	text-align: center;
}

/* button要素 btn 間隔設定*/
button.btn{
	margin: 20px 50px 20px 50px;
}

/* table要素 main-tbl 位置設定*/
table.main-tbl {
	margin: auto;
}

/* table要素 main-tbl 内td要素 lbl 内部要素表示位置設定*/
table.main-tbl td.lbl{
	text-align: right;
}

/* table要素 main-tbl 内td要素 ipt 内部要素表示位置設定*/
table.main-tbl td.ipt{
	text-align: left;
}

/* table要素 main-tbl 内td要素 input要素幅設定*/
table.main-tbl td.ipt input{
	width: 200px;
}

/* table要素 main-tbl 内td要素 select要素幅設定*/
table.main-tbl td.ipt select{
	width: 200px;
}