<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<h1>社員一覧</h1>

	<table border="1">
	    <tr>
	        <th>社員ID</th>
	        <th>名前</th>
	        <th>メールアドレス</th>
	        <th>所属案件</th>
	        <th>所属部署</th>
	        <th>編集</th>
	        <th>削除</th>
	    </tr>
	    <tr th:each="employee : ${employees}">
	        <td class="employeeIdCls" th:text="${employee.employee_id}"></td>
	        <td th:text="${employee.name}"></td>
	        <td th:text="${employee.email}"></td>
	        <td th:text="${employee.anken != null ? employee.anken.anken_name : '未設定'}"></td>
	        <td th:text="${employee.anken != null ? employee.anken.department.department_name : '未設定'}"></td>
	        <td>
				<a th:href="@{/editEmployee/{id}(id=${employee.employee_id})}">編集</a>
<!--				<button onclick="editEmployee(this)">編集</button>-->
	        </td>
	        <td>
				<a th:href="@{/deleteEmployee/{id}(id=${employee.employee_id})}">削除</a>
<!--				<button onclick="editEmployee(this)">削除</button>-->
	        </td>
	    </tr>
	</table>
	<a th:href="@{/addEmployee}">新規追加</a>
	
	<script src="js/SK01.js"></script>
</body>
</html>
