<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<h1>This is a test565656565 page</h1>
	<h3>Data from DB(table:user)</h3>

	<table border="1">
	    <tr>
	        <th>ID</th>
	        <th>Name</th>
	        <th>Email</th>
	    </tr>
	    <tr th:each="user : ${users}">
	        <td th:text="${user.id}"></td>
	        <td th:text="${user.name}"></td>
	        <td th:text="${user.email}"></td>
	    </tr>
	</table>
	
	<script src="js/main.js"></script>
</body>
</html>
